.passengers-box{
  display: flex;
  justify-content: between;
  align-items: center;
  .buttons-container{
    button {
      margin-right: 10px
    }
  }
  input{
    margin-right: 20px;
  }
  p{
    margin: 0px;
    margin-right: 20px;
  }
  input{
    width: 40px;
  }
}
