/* .text-muted{
  font-size: 90% !important;
  color: #818181 !important;
  letter-spacing: 0.3px;
}
input::placeholder { 
  color:#9e9e9ed9; 
}


input{
  border-bottom: 1px solid #efefef !important;
  font-weight: 600;
}

h6{
  color: #ff4646;
  font-weight:600
} */